<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/game.css">
    <style>

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
            position: relative;
        }

        header h1 {
            margin: 0;
            display: inline-block;
        }

        header .username-container {
            position: relative;
            display: inline-block;
            cursor: pointer;
        }

        header .username {
            padding: 10px;
        }

        header .logout-options {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: #333;
            color: #fff;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        header .logout-options input {
            display: block;
            padding: 10px;
            color: black;
            /* color: rgb(255, 255, 255); */
            transition: background-color 0.3s;
        }

        header .logout-options input:hover {
            color: white;
            background-color: #555;
        }

        header .username-container:hover .logout-options {
            display: block;
        }

        section {
            margin: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            background-color: #fff;
            padding: 10px;
            margin-bottom: 5px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
        .start-game{
            /* display: grid; */
            display: none;

        }
        .src-btn{
            margin: 5px;
            padding: 5px;
            display: grid;
        }
        #lookOut{
            width: 20%;
            height: 40px;
            margin: auto;
            border: none;
            border-radius: 5px;
            background-color:rgb(8, 79, 8);
            color: white;
        }
        #lookOut:hover{
            background-color: rgb(5, 58, 5);
            cursor: pointer;
        }

    </style>
    <title>Home Page</title>
</head>
<body>
    <header>
        <h1>Home</h1>
        <div class="username-container">
            <div class="username" id="username"><%= user.username %></div>
            <form class="logout-options" method="post" action="/logout">
                <input type="submit" value="logout">
            </form>
        </div>
    </header>
    <div class="src-btn">
        <button id="lookOut">Look for players .... </button>
    </div>

    <section class="aval-players">
        <h2>Avaliable players</h2>
        <ul class="users-list">
        </ul>
    </section>

    <div class="start-game">
        <div class="gameContainer">
            <div class="game">
                <div class="box-top">
                    <div class="box" style="border-left: none;border-top: none"></div>
                    <div class="box" style="border-top: none"></div>
                    <div class="box" style="border-right: none;border-top: none"></div>
                </div>
                <div class="box-middle">
                    <div class="box" style="border-left: none;"></div>
                    <div class="box"></div>
                    <div class="box"style="border-right: none;"></div>
                </div>
                <div class="box-bottom">
                    <div class="box" style="border-left: none;border-bottom: none"></div>
                    <div class="box" style="border-bottom: none"></div>
                    <div class="box" style="border-right: none;border-bottom: none"></div>
                </div>
            </div>
            <div class="reset">
                <button onclick="Reset()" id="reset">Reset</button>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/gameLogic.js"></script>

</body>
</html>
